<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="WorkingFolder" value="\\libgrsurya\medusa_staging\ContentDM\AfricanMaps\" />
    <add key="ContentDMDataDir" value="\\libgranubis\d$\africanmaps"/>
    <add key="RecordToModsXSLT" value="AfricanMapsRecordToMods.xsl"/>

    <add key="CollectionHandle" value="MEDUSA:f7236f68-5c00-4837-a7a0-af387823de45-4"/>
    <add key="ContentDMCollectionName" value="Maps of Africa to 1900"/>
    <add key="ContentDMCollectionURL" value="https://imagesearch.library.illinois.edu/cdm4/browse.php?CISOROOT=%2Fafricanmaps"/>

    <add key="ContentDMPlugin" value="AfricanMapsPlugin"/>

    <add key="ArchivalMasterXPath" value="jpeg2000_url"/><!-- Pointer to the Best Resolution Image can be found in this XML element in the export file-->
    <add key="ArchivalMasterFormatXPath" value="format"/>
    
    <add key="CatalogIDXPath" value="local_call_number"/>
</appSettings>
 