<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="WorkingFolder" value="C:\Users\thabing\Documents\Library IT Projects\Medusa\ContentDMPackages\HistoricalMapsOnline\" />
    <add key="ContentDMExportFile" value="export.xml"/>
    <add key="IdMapFile" value="idmap.csv"/>
    <add key="ContentDMDataDir" value="\\libgranubis\d$\maps"/>
    <add key="RecordToModsXSLT" value="HistoricalMapsRecordToMods.xsl"/>
    <!-- You can create a single MODS file with all children embedded in relatedItem elements, or you can create 
    multiple MODS files for each child with the relatedItem element having and xlink:href pointing to the child-->
    <add key="CreateSingleMODSFile" value="FALSE"/>

    <add key="CollectionHandle" value="MEDUSA:7a72ce75-26f1-4c71-9fc6-c00d90c4ab70-e"/>
    <add key="ContentDMCollectionName" value="Historical Maps Online"/>
    <add key="ContentDMCollectionURL" value="https://imagesearch.library.illinois.edu/cdm4/browse.php?CISOROOT=%2Fmaps"/>

    <add key="ContentDMPlugin" value="HistoricalMapsPlugin"/>

    <!-- Pointer to the Best Resolution Image can be found in one of these XML elements in the export file-->
    <add key="ArchivalMasterXPath" value="jpeg2000_url[text()]|view_mrsid_image_zoom[text()]|contentdm_file_path[text()]|archival_file_name[text()]"/>
    <add key="ArchivalMasterFormatXPath" value="format[text()]"/>
    <add key="Jpeg2000BaseUrl" value="http://histmapimages.grainger.illinois.edu/jp2files/{0}.jp2"/>
    <!-- replace 0 param with filename minus extension -->

    <add key="CatalogIDXPath" value="call_number"/>

    <!-- Identifiers will look like this: HandlePrefix/HandleProject:GUID+CheckDigit.LocalID -->
    <add key="HandlePrefix" value=""/>
    <!-- 10111 is the UIUC Library's prefix-->
    <add key="HandleProject" value="MEDUSA"/>
    <add key="LocalIdSeparator" value="."/>

    <add key="GetMarcUrl" value="http://dli.grainger.uiuc.edu/GetMARC/one.aspx/{0}.opac"/>
    <!-- replace 0 param with call number -->

    <add key="ChecksumAlgorithm" value="SHA1"/>

    <add key="PremisDisseminationRightsBasis" value="COPYRIGHT"/>
    <!-- the maps are old enough to be in public domain -->
    <add key="PremisDisseminationCopyrightStatus" value="PUBLIC_DOMAIN"/>
    <add key="PremisDisseminationRights" value="DISSEMINATE"/>
    <!-- if blank the repo has no right to disseminate -->
    <add key="PremisDisseminationRightsRestrictions" value=""/>
    <!-- CAMPUS_ONLY, LIBRARY_ONLY, leave blank for no restrictions -->

    <add key="IgnoreBadCert" value="TRUE"/>

    <add key="SaveFilesAs" value="medusa"/>

</appSettings>

