<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="WorkingFolder" value="\\libgrsurya\medusa_staging\ContentDM\HistoricalMapsOnline\"/>
  <!--value="\\libgrsurya\medusa_staging\ContentDM\HistoricalMapsOnline\" />-->
  
    <add key="ContentDMDataDir" value="\\libgranubis\d$\maps"/>
    <add key="RecordToModsXSLT" value="HistoricalMapsRecordToMods.xsl"/>
  
    <!-- You can create a single MODS file with all children embedded in relatedItem elements, or you can create 
    multiple MODS files for each child with the relatedItem element having and xlink:href pointing to the child-->
    <add key="CreateSingleMODSFile" value="FALSE"/>

    <add key="CollectionHandle" value="MEDUSA:7a72ce75-26f1-4c71-9fc6-c00d90c4ab70-e"/>
    <add key="ContentDMCollectionName" value="Historical Maps Online"/>
    <add key="ContentDMCollectionURL" value="https://imagesearch.library.illinois.edu/cdm4/browse.php?CISOROOT=%2Fmaps"/>

    <add key="ContentDMPlugin" value="HistoricalMapsPlugin"/>

    <!-- Pointer to the Best Resolution Image can be found in one of these XML elements in the export file-->
    <add key="ArchivalMasterXPath" value="jpeg2000_url[text()]|view_mrsid_image_zoom[text()]|contentdm_file_path[text()]|archival_file_name[text()]"/>
    <add key="ArchivalMasterFormatXPath" value="format[text()]"/>
    <add key="Jpeg2000BaseUrl" value="http://histmapimages.grainger.illinois.edu/jp2files/{0}.jp2"/><!-- replace 0 param with filename minus extension -->

    <add key="CatalogIDXPath" value="call_number"/>



</appSettings>

