<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="secretAppSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <connectionStrings>
    <add name="HandleManagerConnectionString" connectionString="Data Source=LIBGRTOBADZIST;Initial Catalog=HandleManager;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="Handle.ServiceURL" value="http://media.library.uiuc.edu:8080/handle-admin"/>
    <add key="Handle.Password"  value="xxxxx" /><!-- the password is really merged in from the included secret.config file-->
    <add key="Handle.Prefix" value="10111"/><!-- This is the registered UIUC handle prefix-->
    <add key="Handle.ResourceType" value="handle"/>
    <add key="Handle.ResolverBaseURL" value="http://hdl.handle.net"/> <!-- don't include trailing slash / -->
  </appSettings>


  <secretAppSettings configSource="secret.config"/>

  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
